$white: #ffffff;
$grey-100: #f1f7ed;
$grey-200: #eff1f3;
$grey-500: #707070;
$grey-700: #4f4f4f;
$grey-900: #0f0a0a; 
$red-400:  #fe5f55;
$green-500: #466e45;
$green-300: #70ae6e;
$blue-100: #c8e6d2;
$grey-800: #333333
